@import "tailwindcss";


@font-face {
  font-family: 'Poppins';
  src: url('./fonts/poppins-latin-400-normal.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Poppins', sans-serif;
}
